# Auto detect text files and perform LF normalization
* text=auto
# UE file types
*.uasset -text
*.umap -text
*.udk -text
*.upk -text
# Anything in `/RawContent` dir. [You create this directory in your projects root folder]
/RawContent/**/* -text
# Raw Content types
*.blend -text
*.duf -text
*.bin.fbx -text
*.fbx -text
*.obj -text
*.png -text
*.jpg -text
*.jpeg -text
*.hdr -text
*.exr -text
*.mp3 -text
*.mp4 -text
*.mov -text
*.wav -text
*.3ds -text
*.psd -text
*.mb -text
*.tga -text
*.cubemap -text
*.tif -text
*.xcf -text